[Desktop Entry]
Name=HipChat
GenericName=Group chat and IM
Comment=Group chat and IM - built for teams
Exec=/opt/HipChat/bin/hipchat
Icon=hipchat.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Network;InstantMessaging;
X-XFCE-Source=file:///usr/share/applications/hipchat.desktop
