[Desktop Entry]
Name=Corebird
GenericName=Twitter Client
Keywords=twitter;
Exec=corebird
Type=Application
Icon=corebird
Categories=Network;GTK;
DBusActivatable=true
Comment=Use Twitter from within a normal desktop application
X-XFCE-Source=file:///usr/share/applications/org.baedert.corebird.desktop
