"*":
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
    ]
    excludeVcsIgnoredPaths: true
    projectHome: "/home/christopher/workspace"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "051d5590-2548-cc7a-42ad-2c97853a2730"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  minimap:
    absoluteMode: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-debugger-hhvm":
      phpRuntimePath: "/usr/bin/hhvm"
    "nuclide-home":
      showHome: false
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-buck-files": false
      "nuclide-buck-toolbar": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-ios-simulator-logs": false
      "nuclide-objc": false
      "nuclide-ocaml": false
      "nuclide-python": false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
  welcome:
    showOnStartup: false
