packages: [
  "auto-detect-indentation"
  "coffee-navigator"
  "file-icons"
  "git-time-machine"
  "haskell-grammar"
  "highlight-selected"
  "hyperclick"
  "js-hyperclick"
  "language-babel"
  "language-blade"
  "language-dots"
  "language-ini"
  "language-latex"
  "language-ocaml"
  "language-thrift"
  "latex"
  "linter"
  "linter-csslint"
  "linter-docker"
  "linter-eslint"
  "linter-htmlhint"
  "linter-less"
  "linter-lesshint"
  "linter-php"
  "linter-phpcs"
  "linter-phpmd"
  "linter-stylint"
  "linter-tidy"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "npm-outdated"
  "nuclide"
  "package-sync"
  "php-class-tree"
  "php-hyperclick"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-linter"
  "php-integrator-navigation"
  "php-integrator-refactoring"
  "php-integrator-symbol-viewer"
  "php-integrator-tooltips"
  "phpunit"
  "pigments"
  "project-manager"
  "sort-lines"
  "Stylus"
  "tool-bar"
]
